@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your colors
$backgroundcolor: #2B2D42;
$contrastcolor: #8D99AE;
$textcolor: #EDF2F4;
$redcolor: #EF233C
$reddarkcolor: #D90429

// Update global variables
$family-sans-serif: 'Nunito', sans-serif;


html,
body 
	height: 100vh 
	width: 100vw 
	margin: 0 
	font-family: Verdana, Geneva, Tahoma, sans-serif 

.app 
	display: flex 
	flex-direction: column 
	height: 100vh 
	width: 100vw 
    color: $textcolor
	background-color: $backgroundcolor

.header 
	height: 50px 
	padding: 5px 
	font-size: 26px 
	font-weight: bold 
	color: $textcolor

.footer 
	height: 100px 
	color: $textcolor

.content 
	flex: 1 
	display: flex 
	flex-direction: row 

.eventboard 
	flex-shrink: 1 
	width: 200px 
	background-color: $contrastcolor

.interactionboard_buttons 
	overflow: hidden 
	z-index: 10 
	position: absolute 
	left: 500px 

.interactionboard 
	flex-shrink: 0 
	width: 200px 
	background-color: $contrastcolor
    
.start-button-container 
	position: absolute 
	top: 10% 
	left: 5% 
	bottom: 10% 
	right: 5% 
	background: rgba(0,0,0,0.7) 
	display: flex 
	align-items: center 
	justify-content: center 
	button 
		height: 50px 
		width: 150px 
