@charset "utf-8";

// Set your colors
$backgroundcolor: #2B2D42;
$contrastcolor: #8D99AE;
$textcolor: #EDF2F4;
$redcolor: #EF233C
$reddarkcolor: #D90429

// Update global variables
$family-sans-serif: 'Inconsolata', sans-serif;

// Main App
html,
body 
	height: 100vh 
	width: 100vw 
	margin: 0 
	font-family: 'Inconsolata', monospace;

.app 
	display: flex 
	flex-direction: column 
	height: 100vh 
	width: 100vw 
	color: $textcolor
	background-color: $backgroundcolor

.info-container
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	display: flex
	flex-direction: column
	align-items: center 
	justify-content: center
	z-index: 50
	color: white
	background: rgba(0, 0, 0, 0.7)
	button 
		height: 50px 
		width: 150px 

.header 
	height: 100px 
	padding: 5px 
	font-size: 26px 
	font-weight: bold 
	color: $textcolor
	display: flex
	flex-direction: row
	justify-content: space-between
	.left
		width: 200px
		font-size: 14px
	.center
		flex-grow: 1
		text-align: center
	.right
		width: 200px

.footer 
	height: 100px 
	display: flex
	flex-direction: row
	justify-content: space-between
	color: $textcolor
	background-color: black
    // Left Footer
	div
		text-align: center
		flex-grow: 1
.content 
	flex: 1 
	display: flex 
	flex-direction: row 
	// Main Map
	.leaflet-container 
		flex: 1
		flex-grow: 1
		background-color: $backgroundcolor !important
	// Event Feed
	.eventboard 
		flex-shrink: 1 
		.EventContainer 
			margin: 5px 
			display: flex 
			flex-direction: column 
			.EventFeed 
				margin-top: 10px 
				display: flex 
				flex-direction: column-reverse 
				overflow: hidden 
				max-height: 300px 
				.EventTitle 
					font-weight: bold 
				.EventDate 
					font-size: 12px 
				ul 
					margin: 0 
					padding: 0 
	.interactionboard 
		display: felx
		flex-direction: column
		flex-grow: 0
		width: 200px 
		length: 100vh
		justify-content: space-between

		.RegionStats
			padding-top: 10px
			padding: 5px
		.ActionContainer
			padding: 5px
			padding-top: 10px

.board		
	box-sizing: border-box
	width: 200px 
	border: 10px solid $backgroundcolor
  	margin: 0px
	background-color: $contrastcolor

.ActionList
	button
		border: 1px solid black
		display: block
		width: 100%
		text-align: left
		padding: 10px 5px
		margin-bottom: 5px
