.EventContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.EventFeed {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    max-height: 300px;
}

.EventFeed .EventTitle {
    font-weight: bold;
}

.EventFeed .EventDate {
    font-size: 12px;
}